/* =================================== */
/* DESIGN SYSTEM */
/* =================================== */
/*

! --- 01 TYPOGRAPHY SYSTEM

* Font size system(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

* Font weights
Default: 400

* Line heights
Default: 1

! --- 02 COLORS

- Primary: Primäre Farbe 
- Tints (Farbtöne):
- Shades (Schattierungen):
- Accents:
- Greys: #555 Beliebte Grau Töne

! --- 05 SHADOWS

! --- 06 BORDER-RADIUS

! --- 07 WHITESPACE

* Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* =================================== */
/* FONTS */
/* =================================== */

@font-face {
  font-family: "";
  src: url();
}

/* =================================== */
/* RESET STYLES */
/* =================================== */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

html {
  /* 10px / 16px * 100% = 62,5% */
  /* Percentage of users browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  box-sizing: border-box;
  overflow-x: hidden;
  background: radial-gradient(
    circle,
    rgba(25, 113, 194, 1) 0%,
    rgba(33, 37, 41, 1) 100%
  );
  height: 100vh;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

.section-quiz {
  max-width: 144rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.quiz-image {
  width: 80vh;
  object-fit: contain;
  border: 5px solid #1971c2;
  border-radius: 0.8rem;
}

.quiz-question {
  font-size: 2rem;
  margin-block: 4rem;
  color: #fff;
}

.quiz-answer-btns-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 4rem;
}

.quiz-answer-btn {
  padding: 2.2rem 4.4rem;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: #212529;
  border: none;
  border-radius: 0.8rem;
  color: #fff;
}

.quiz-answer-btn:hover {
  background-color: #1971c2;
  box-shadow: 5px 5px 10px #212529;
  transform: translateY(-3px);
}

.quiz-answer-btn:active {
  transform: translateY(1px);
  box-shadow: 2px 2px 10px #212529;
}

.slide-out-in {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: left 0.5s linear, right 0.5s linear;
}

.success-message {
  font-size: 4rem;
  color: #fff;
}
